<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.beetlebug">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Beetlebug">
        <activity
            android:name=".ctf.BinaryPatchActivity"
            android:exported="false" />
        <activity
            android:name=".ctf.b33tleAdministrator"
            android:exported="true" />
        <activity
            android:name=".ctf.VulnerableWebView"
            android:exported="true" />
        <activity
            android:name=".ctf.VulnerableClipboardActivity"
            android:exported="false" />

        <activity
            android:name=".ctf.InsecureContentProvider"
            android:exported="false" />

        <provider
            android:name=".handlers.VulnerableContentProvider"
            android:authorities="app.beetlebug.provider"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ctf.WebViewXSSActivity"
            android:exported="false"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".ctf.DeeplinkAccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="beetlebug.com"
                    android:pathPrefix="/account"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".ctf.FirebaseDatabaseActivity" />
        <activity android:name=".ctf.SQLInjectionActivity" />
        <activity android:name=".user.PlayerStats" />
        <activity
            android:name=".ctf.WebViewURLActivity"
            android:exported="true" />
        <activity android:name=".ctf.EmbeddedSecretSourceCode" />
        <activity android:name=".ctf.EmbeddedSecretStrings" />
        <activity android:name=".ctf.InsecureLoggingActivity" />
        <activity android:name=".user.UserSignUp" />
        <activity
            android:name=".Walkthrough">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ctf.InsecureStorageExternal"
            android:exported="false" />
        <activity
            android:name=".FlagCaptured"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ctf.BiometricActivityDeeplink"
            android:exported="true" />
        <activity android:name=".ctf.VulnerableServiceActivity" />
        <activity android:name=".ctf.InsecureStorageSQLite" />
        <activity android:name=".ctf.InsecureStorageSharedPref" />
        <activity
            android:name=".ctf.VulnerableActivityIntent"
            android:exported="false" />
        <activity
            android:name=".FlagsOverview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <service
            android:name=".handlers.VulnerableService"
            android:enabled="true"
            android:exported="true"
            android:protectionLevel="dangerous" />


    </application>

</manifest>